body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
}

.nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
}

footer{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
